<a href="https://colab.research.google.com/github/EshraqAllawama/MyDataScienceJourney/blob/python/Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Second Session

EX 1 ->
TotalProfit=TotalRevenue−TotalExpenses

In [ ]:
total_revenue,total_expenses = float(input("Enter the Total_Revenue :")),float(input("Enter the Total_Expenses :"))
total_profit = total_revenue - total_expenses
#print("The Total_Profut ={} JOD".format(total_profit))
print(f"The Total_Profut ={total_profit} JOD")

EX 2 ->
RR=Vf−Vi/Vi×100%

In [ ]:

def rate(input_future_stock_price):
  """to calculate the Rate of Return

  parameters
  ----------
  input_future_stock_price : int or float
      The stock price expected in the future by the user

  returns
  -------
  rate_of_return : int or float

  """
  STOCK_PRICE_ON_JAN = 63.48
  rate_of_return =(input_future_stock_price - STOCK_PRICE_ON_JAN)/STOCK_PRICE_ON_JAN
  rate_of_return *= 100
  #print("The Rate of return = {:2f}%".format(rate_of_return))
  print(f"The Rate of return = {rate_of_return:.2f}%")

  return rate_of_return

In [ ]:
future_stock_price = float(input("Enter the Future Stock Price :"))
test = rate(future_stock_price) >= 0
print("if the result is false negative otherwise positive , the result is : ",test, sep ="")

Enter the Future Stock Price :6666
The Rate of return = 10400.95%
if the result is false negative otherwise positive , the result is : True

In [ ]:
rate(future_stock_price)

The Rate of return = -48.01512287334593%

-48.01512287334593

In [ ]:
help(rate)

EX 3 ->
Hello [user name],

Happy birthday! You're [age] years old now :)

Do you need to find a nice restaurant in [city name] to celebrate?

In [ ]:
# The First attemp
user_name,age,city_name = input("Enter your Name : ").capitalize(),input("Enter your Age : "),input("Enter your city name :")
print(f"Hello {user_name}",
      f"Happy birthday! You're {age} years old now :)",
      f"Do you need to find a nice restaurant in {city_name.capitalize()} to celebrate?",sep = "\n")

Enter your Name : eshraq
Enter your Age : 32
Enter your city name :erwe
Hello Eshraq
Happy birthday! You're 32 years old now :)
Do you need to find a nice restaurant in Erwe to celebrate?

In [ ]:
# The Second attemp
def Printer():
  """To print the output from the user

  """
  print(f"Hello {user_name}",
        f"Happy birthday! You're {age} years old now :)",
        f"Do you need to find a nice restaurant in {city_name} to celebrate?",sep = "\n")

def Return_Enter():
  """To take Input from the user

  """
  global user_name ,age,city_name
  user_name,age,city_name = input("Enter your Name : "),input("Enter your Age : "),input("Enter your city name :")

In [ ]:
help(Printer)

In [ ]:
Return_Enter()
while(True):
  if (user_name.capitalize() == user_name and city_name.capitalize() == city_name):
    Printer()
    break
  else:
    print("plez return Enter your info :( ")
    Return_Enter()

Enter your Name : werwe
Enter your Age : 4234
Enter your city name :rwer
plez return Enter your info :(
Enter your Name : Eshraq
Enter your Age : 232
Enter your city name :SDFs
plez return Enter your info :(
Enter your Name : Eshraq
Enter your Age : 23432
Enter your city name :Ertrter
Hello Eshraq
Happy birthday! You're 23432 years old now :)
Do you need to find a nice restaurant in Ertrter to celebrate?

#Third Session

##string

1-
Write a function to count the number of vowels in a given string.

In [ ]:
# First attempt
def count_vowels_test2(word):
  """to count the volwes in the word

    parameters
    ----------
    word : str

    returns
    -------
    sum : int

  """
  return sum([1 for char in word if char.lower() in "aouei"])

In [ ]:
count_vowels_test2("esheraaq")

2

In [ ]:
# Second attempt
def count_vowels(word):
  """To count the volwes in the word

    parameters
    ----------
    word : str

    returns
    -------
    sum : int

  """
  counter = 0
  for char in word:
    if char.lower() in "aouei":
      counter += 1
  return counter

In [ ]:
count_vowels("eshraq")

In [ ]:
count_vowels("AhmAAd")

2-
Write a function that takes a string and returns the same string but with every second letter capitalized

In [ ]:
def capitalize_second_letter(text):
  """To capitalize any second letter in any word in one text

    parameters
    ----------
    text : str
       Has more than one word or word

    returns
    -------
    new_text : str

  """
  new_text = []
  text_to_list = text.split()
  for word in text_to_list:
      new_word = ""
      for char in range(len(word)):
          if char == 1:
              new_word += word[char].upper()
          else:
              new_word += word[char]
      new_text.append(new_word)
  return " ".join(new_text)

In [ ]:
print(capitalize_second_letter("hello world"))

In [ ]:
def capitalize_second_letter_2(word):
  new_word = ""
  for index,char in enumerate(word):
      if index % 2 == 1:
          new_word += char.upper()
      else:
          new_word += char
  return new_word

In [ ]:
def capitalize_second_letter_2(word):
    return "".join([char.upper() if index % 2 else char for index,char in enumerate(word)])

In [ ]:
capitalize_second_letter_2("eshraq")

'eShRaQ'

##List

1-
Write a function that takes a list of numbers and returns a new list containing only the even numbers.

In [ ]:
def even_number(numbers):
  """To find the even numbers in the list

  parameters
  ----------
  numbers : list
    contain random numbers

  returns
  -------
  [n for n in numbers if n%2 == 0 ]

  """
  return [n for n in numbers if n%2 == 0 ]

In [ ]:
even_number([2, 2.2, 5, 7, 88, 53, 34])

2-
Write a function that takes a list and returns a new list with duplicate values removed.

In [ ]:
def remove_duplicate(numbers):
  """To delete the duplicate numbers in the list

  parameters
  ----------
  numbers : list
    contain the duplicate numbers

  returns
  -------
  list(set(numbers))
     I use the set to remove the duplicate numbers

  """
  return list(set(numbers))

In [ ]:
remove_duplicate([2, 3, 4, 5, 4, 5, 99, "a", "v", "a"])

[2, 99, 3, 4, 5, 'a', 'v']

## set

1-
Write a function that takes two sets and returns their intersection as a new set.

In [ ]:
def intersectio_n(set_1, set_2):
  """To find the intersection of two sets

  parameters
  ----------
  set_1, set_2 : set

  returns
  -------
  set_1.intersection(set_2)
     Shared numbers

  """
  return set_1.intersection(set_2)

In [ ]:
intersectio_n({1, 2, 3},{3, 5, 7, 9})

2-Write a function that takes two sets and returns their union as a new set

In [ ]:
def unio_n(set_1, set_2):
  """To find the union of two sets

  parameters
  ----------
  set_1, set_2 : set

  returns
  -------
  set_1.union(set_2)
     All numbers without duplicate
  """
  return set_1 | set_2

In [ ]:
unio_n({1, 2, 3},{3, 5, 7, 9})

{1, 2, 3, 5, 7, 9}

##tuple

1-
Write a function that takes a list of tuples and sorts them based on the second element of each tuple.

In [ ]:
def sorted(list_1):
  """To sort the list

  To sort the list of tuple Ascending order ,
   based on the second element in the tuple

  parameters
  ----------
  list_1 : list

  returns
  -------
  list_1 : list
     the same list but sorted

  """
  temporary = 0
  for n1 in range(len(list_1)-1): #2
     for n2 in range(n1+1,len(list_1)): #3
          if list_1[n1][1] > list_1[n2][1]:
            temporary = list_1[n1]
            list_1[n1] = list_1[n2]
            list_1[n2] = temporary
  return list_1

In [ ]:
list_1 = [(43, 3), (55, 6), (32, 0), (87, 4), (100, 9)]
sorted(list_1)

[(32, 0), (43, 3), (55, 6), (87, 4), (100, 9)]

In [ ]:
def sorting(list_1):
  return list_1[1]
def sorted_2(list_1):
  #return sorted(list_1, key = lambda item: item[1], reverse = False)
  return sorted(list_1, key = sorting, reverse = False)

In [ ]:
sorted_2(list_1)

[(32, 0), (43, 3), (87, 4), (55, 6), (100, 9)]

2-
Write a function that takes a tuple and returns a reversed version of that tuple.

In [ ]:
reverse = lambda tup: tup [::-1]
reverse.__doc__ = """
 To reverse the tuple, string, or any DS used the indices in this way

 parameters
 ----------
 tup : tuple, str, list

 returns
 -------
 tup [::-1] : list, str, tuple
"""

In [ ]:
help(reverse)

In [ ]:
reverse((1, 2, 3, 4, 5, 2, 1, 3))

##Dictionary

Write a function that takes a dictionary and returns the keys and values as separate lists

In [ ]:
def keys_values(dict_1):
  """To return keys and values from dictionary if you need

  parameters
  ----------
  dict_1 : dict

  returns
  -------
   dict_1.keys : list
      both keys and values in the tuple
   dict_1.values : list

  """
  return list(dict_1.keys()), list(dict_1.values())

In [ ]:
keys, values = keys_values({"A": 2, "B": 3, "C":6})
# unpacking

In [ ]:
print(keys, values, sep = "\n")

['A', 'B', 'C']
[2, 3, 6]

Write a function that takes a dictionary and a key, and if the key exists in the dictionary, return its value. If the key does not exist, return a default value.

In [ ]:
def getter(dict_1):
  """ to find the value for key

  if you don't find it, there is an optional value

  parameters
  ----------
  dict_1 : dict
  defult_value : str , optional

  returns
  -------
  dict_1.get(input("Enter the key :"),defult_value) : int, str

  """
  return dict_1.get(input("Enter the key :"),int(input("Enter the defult_v :")))

In [ ]:
def gett_2(dict_1, k, defult = None ):
    return dict_1[k]  if k in dict_1 else defult
    # you can not exist two return in one line



print(gett_2({"A": 2, "B": 3, "C":6}, input("Enter key :")))

Enter key :z
None

In [ ]:
get({"A": 2, "B": 3, "C":6})

Enter the key :N
Enter the defult_v :3

'3'

##Conditional Statements, Loops, and Functions

Task 1: Write a program that takes two numbers as inputs from the user and prints their sum.

In [ ]:
su_m = lambda n1,n2:n1+n2
su_m.__doc__ = """
To find the sum of two numbers(n1, n2)

parameters
----------
n1,n2 : int, float

returns
-------
n1+n2 : int, float

"""
print(su_m(int(input("Enter the First number :")),int(input("Enter the Second number :"))),sep = "\n")

Task 2: Write a program that takes an integer input from the user. Use a for loop to print all numbers from that integer down to 0.

In [ ]:
number_1 = int(input("Enter a number :"))
for n1 in range(number_1, -1, -1):
    print(n1)

Task 3: Write a program that takes an integer input from the user. Use a while loop to keep doubling the number until it is greater than 1000, then print the result.

In [ ]:
number_1 = int(input("Enter the number :"))
while(number_1 <= 1000):
    number_1 *= 2
print(number_1)

Enter the number :500
2000


Task 4: Write a function that takes a number as input and returns the square of the number. Use it in a program that takes an input from the user and prints the square.

In [ ]:
def square(number):
  """To find the square of the number

  parameters
  ----------
  number : int or float

  returns
  -------
  m.sqrt(number) : int or float

  """
  if number < 0:
      number *= -1

  return number * number

In [ ]:
square(float(input("Enter the number :")))

Enter the number :-4

16.0

Task 5: Write a program that takes a number as input from the user. If the number is greater than 10, print "Big number". If the number is less than or equal to 10, print "Small number".

In [ ]:
number_1 = int(input("Enter the number :"))
if number_1>10:
    print("Big number")
else:
    print("Small number")

In [ ]:
number_1 = int(input("Enter the number :"))
if number_1>10:
    print("Big number")
elif number_1 == 10:
    print("Equal to 10")
else:
    print("Small number")

Task 6: Write a function that takes two numbers as inputs and returns their product. Use this function in a program that takes two inputs from the user and prints the product.

In [ ]:
product = lambda n1, n2:n1 * n2
product.__doc__ = """
To find the product of two numbers

parameters
----------
n1,n2 : int or float

returns
-------
n1*n2 : int or float
"""
print(product(int(input("Enter the First number :")),int(input("Enter the Second number :"))),sep = "\n")


Task 7: Write a program that uses a while loop to take a number as input from the user, subtract 5, and print the result. Continue this until the result is less than 0.

In [ ]:
number_1 = int(input("Enter the number :"))
while number_1 >= 0:
  number_1 -= 5
  print(number_1)

Task 8: Write a program that uses a for loop to take an integer input from the user and print the factorial of that number.

In [ ]:
def factorial(number_1):
  """To find the fectorial of number_1

  parameters
  ----------
  number_1 : int

  returns
  -------
  number_1*factorial(number_1-1) : int

  1 : int

  """
  if number_1 != 1:
      return number_1*factorial(number_1-1)
  else:
      return 1

In [ ]:
def factorial_2(number_1):
    fectorial = 1

    for num in range(1,number_1 + 1):
        fectorial *= num

    return fectorial

In [ ]:
factorial_2(int(input("Enter the number :")))

Enter the number :4

24

In [ ]:
factorial(int(input("Enter the number :")))


Task 9: Write a program that takes a number as input from the user. If the number is positive, print "Positive". If the number is negative, print "Negative". If the number is zero, print "Zero".

In [ ]:
number_1 = int(input("Enter the number :"))
if number_1>0:
  print("Positive")
elif number_1<0:
  print("Negative")
else:
  print("Zero")




Task 10: Write a lambda function that takes two numbers as inputs and returns their division as a floating-point number. Use this function in a program that takes two inputs from the user and prints the division.

In [ ]:
div = lambda n1, n2:n1 / n2 # as a floating-point , else use // non floating-point
div.__doc__ = """
To find the division between two numbers(n1, n2)

parameters
----------
n1,n2 : int, float

returns
-------
n1/n2 : int, float

"""
n1 = int(input("Enter the First number :"))
n2 = int(input("Enter the Second number :"))
print(div(n1, n2),sep = "\n")

Enter the First number :10
Enter the Second number :3
3.3333333333333335

# Fifth Session - OOP

Task 1: Create a parent class Shape with a method area that returns 0. Then, create two child classes, Rectangle and Circle. Rectangle has attributes width and height, Circle has an attribute radius. Override the area method in both child classes to calculate the area correctly (use 3.14 as an approximation for pi).

In [ ]:
import math

class Shape:
    """
    this class to calculate the area of any mathmatical shape


    methods:
    --------
    area()
      as a basic method to calculate any shape

    """
    def area(self):
      """
        as a basic method to calculate any shape


        returns:
        --------
        0 : int


      """
      return 0
    def print_info():
      pass
class Rectangle(Shape):
    """
    this class for calculate the area for Rectangle


    parameters:
    -----------
    w : int or float
        the width of rectangle
    h : int or float
        the height of rectangle


    attributes:
    -----------
    width : int or float
        the width of rectangle
    height : int or float
        the height of rectangle


    methods:
    --------
    area()
      to calculate the area of the rectangle

    """


    def __init__(self, w, h):
        self.width = w
        self.height = h


    def area(self):
      """
       to calculate the area of the rectangle


       returns:
       --------
       the area of rectangle : int or float


      """
      return f" the space of rectangle is :{self.width*self.height}"


class Circle(Shape):
    """
    this class for calculate the area for Circle


    parameters:
    -----------
    r : int or float
        the radius of circle


    attributes:
    -----------
    radius : int or float
        the radius of circle



    methods:
    --------
    area()
      to calculate the area of the circle


    """
    def __init__(self, r):
        self.radius = r


    def area(self):
      """
       to calculate the area of the circle


       returns:
       --------
       the area of circle : int or float


      """
      return f" the space of rectangle is :{self.radius**2 * math.pi}"

In [ ]:
circle_1 = Circle(r=5.6)
print(circle_1.area())

 the space of rectangle is :98.5203456165759

In [ ]:
rectangle_1 = Rectangle(w=3, h=4)
print(rectangle_1.area())

 the space of rectangle is :12

Task 2: Expand on the previous task. Add a method print_info to the Shape class that prints out the type of shape and its area. For each child class, override this method to print the shape type (rectangle or circle), its specific attributes (width and height for rectangles, radius for circles), and its area.

In [ ]:
import math
class Shape:
    """
    this class to calculate the area of any mathmatical shape


    methods:
    --------
    area()
      as a basic method to calculate any shape
    prints_info()
      to print the area of shape if found it

    """

    def area(self):
      """
        as a basic method to calculate any shape


        returns:
        --------
        0 : int


      """
      return 0


    def prints_info(self): # virtual method
      """
       to print the area of shape if found it


       returns:
       --------
       f"the shape not found , so the area is{self.area}" : str


      """
      return f"the shape not found , so the area is {self.area()}"



class Rectangle(Shape):
    """
    this class for calculate the area for Rectangle


    parameters:
    -----------
    w : int or float
        the width of rectangle
    h : int or float
        the height of rectangle


    attributes:
    -----------
    width : int or float
        the width of rectangle
    height : int or float
        the height of rectangle


    methods:
    --------
    area()
      to calculate the area of the rectangle
    prints_info()
      to print the area of the rectangle

    """


    def __init__(self, w, h):
        self.width = w
        self.height = h

    def area(self):
      """
       to calculate the area of the rectangle

      """


      return self.width * self.height


    def prints_info(self):
      """
       to print the area of shape the rectangle
      """

      print(f"The Sahpe is Rectangle, the width is {self.width} and the height is {self.height}, Finally the area is {self.area()}")

class Circle(Shape):

    """
    this class for calculate the area for Circle


    parameters:
    -----------
    r : int or float
        the radius of circle


    attributes:
    -----------
    radius : int or float
        the radius of circle


    methods:
    --------
    area()
      to calculate the area of the circle
    prints_info()
      to print the area of the circle

    """
    def __init__(self, r):
        self.radius = r


    def area(self):
       """
       to calculate the area of the circle

      """

       return self.radius**2 * math.pi


    def prints_info(self):
      """
       to print the area of shape the circle
      """
      print(f"The Sahpe is Circle, the radius is {self.radius}, Finally the area is {self.area()}")

In [ ]:
rectangle_1 = Rectangle(w=3, h=4)
rectangle_1.area()
rectangle_1.prints_info()

The Sahpe is Rectangle, the width is 3 and the height is 4, Finally the area is 12

In [ ]:
circle_1 = Circle(r=5.6)
circle_1.area()
circle_1.prints_info()

The Sahpe is Circle, the radius is 5.6, Finally the area is 98.5203456165759

In [ ]:
Sh = Shape()
Sh.prints_info()

'the shape not found , so the area is0'

Task 3: Create a class BankAccount with private attributes __account_number and __balance. Provide getter methods for both (get_account_number, get_balance), and methods to deposit and withdraw money. Ensure that the withdraw method checks if there is enough balance before withdrawing.

In [ ]:
class BankAccount:
  """
  this a class for anu account bank


  contain the basic operation and Information for any customer's bank account


  parameters:
  -----------
  account_number : int
  balance : int


  attributes:
  -----------
  __account_number : int
  __balance : int


  methods:
  --------
  get_account_number()
    to get the account number
  get_balance()
    to get the balance
  deposit()
    to deposit money
  withdraw()
    to depwithdrawosit money

  """
  def __init__(self, account_number, balance):
       self.__account_number = account_number
       self.__balance = balance


  def get_account_number(self):
    """
    to get the account number


    returns:
    --------
    self.__account_number : int

    """

    return self.__account_number


  def get_balance(self):
    """
    to get the balance


    returns:
    --------
    self.__balance : int

    """
    return self.__balance

  def deposit(self, amount):
    """
    to deposit amount


    parameters:
    -----------
    amount : int

    """
    self.__balance += amount

  def withdraw(self, amount=0):
    """
    to withdraw amount


    parameters:
    -----------
    amount : int, 0

    """
    if self.__balance >= amount:
         self.__balance -= amount
         print("withdraw done.")
    else :
         print("withdraw fail, there is not money enough !!")

In [ ]:
user1 = BankAccount(123456789, 1000)

In [ ]:
"account number"+str(user1.get_account_number())

'account number123456789'

In [ ]:
"your balance is "+str(user1.get_balance())

'your balance is 1000'

In [ ]:
user1.deposit(200)
"The new balance is "+str(user1.get_balance())

'The new balance is 1400'

In [ ]:
user1.withdraw(400)
"The new balance is "+str(user1.get_balance())

withdraw fail, there is not money enough !!

'The new balance is 200'

Task 4: Create a base class Animal that has a method speak() which prints "I don't know what I say!". Then create two derived classes Dog and Cat which override the speak() method. The speak() method in the Dog class should print "Woof Woof!" and the speak() method in the Cat class should print "Meow Meow!".

In [ ]:
class Animal:
  """
  this class for sound Animal

  methods:
  --------
  speak()
    to print the sound of animal

  """

  def speak(self):
    """
    to print the sound of animal

    """

    print("I don't know what I say!")


class Dog(Animal):
  """
  this class for sound Dog

  methods:
  --------
  speak()
    to print the sound of Dog

  """


  def speak(self):

    """
    to print the sound of Dog

    """

    print("Woof Woof!")


class Cat(Animal):
  """
  this class for sound Cat

  methods:
  --------
  speak()
    to print the sound of Cat

  """
  def speak(self):
    """
    to print the sound of Cat

    """
    print("Meow Meow!")

In [ ]:
cat_1 = Cat()
cat_1.speak()

Meow Meow!

In [ ]:
type(cat_1)

__main__.Cat

In [ ]:
yellow_camel = Animal()
yellow_camel.speak()

I don't know what I say!

Task 5: Continuing from the above task, create a function animal_speak(animal) which accepts an Animal object and calls its speak() method. This demonstrates polymorphism because you can pass any object of a class derived from Animal to this function and it will work.

In [ ]:

def animal_speak(animal):
  """
  this fun to calling the sound of animal

  prompters:
  animal : object

  """
  animal.speak()

animal = input("please enter you animal :")
if animal == "cat":
  animal = Cat()
elif animal == "dog":
  animal = Dog()
else:
  animal = Animal()

animal_speak(animal)

please enter you animal :hhh
I don't know what I say!

Task 6: Create a class Car with two attributes: color (public) and __speed (private). The class should have methods accelerate() which increases the speed by 10 and get_speed() which returns the current speed. The __speed attribute should be modified only through the accelerate() method, demonstrating the principle of encapsulation.

In [ ]:
class Car():
  """
  this class for car


  parameters:
  -----------
  c : str
    this color of car
  sp : int, float
    this speed of car


  attributes:
  -----------
  color : str
    this color of car
  __speed : int, float
    this speed of car


  methods:
  --------
  accelerate()
    to increase the speed of car
  get_speed()
    to get the speed of car

  """

  def __init__(self, c, sp):
    self.color = c
    self.__speed = sp


  def accelerate(self):
    """
    to increase the speed of car

    """
    self.__speed += 10


  def get_speed(self):
    """
    to get the speed of car

    """
    return f"the current speed is {self.__speed}"

In [ ]:
teslla =Car("white", 10)

In [ ]:
teslla.get_speed()

'the current speed is 40'

In [ ]:
teslla.accelerate()