<a href="https://colab.research.google.com/github/EshraqAllawama/MyDataScienceJourney/blob/main/Data_Analysis/pandas/SF_Salaries__solved.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [ ]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [ ]:
sal = pd.read_csv("/content/Salaries.csv")

** Check the head of the DataFrame. **

In [ ]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [ ]:
sal.describe().loc["mean", "BasePay"]

66325.4488404877

In [ ]:
sal["BasePay"].mean()

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [ ]:
sal.describe().loc["max", "OvertimePay"]

245131.88

In [ ]:
sal["OvertimePay"].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [ ]:
sal["JOSEPH DRISCOLL" == sal["EmployeeName"]].loc[24, "JobTitle"]

'CAPTAIN, FIRE SUPPRESSION'

In [ ]:
sal["JOSEPH DRISCOLL" == sal["EmployeeName"]]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [ ]:
sal["JOSEPH DRISCOLL" == sal["EmployeeName"]].loc[24, "TotalPayBenefits"]

270324.91

In [ ]:
sal["TotalPayBenefits"]["JOSEPH DRISCOLL" == sal["EmployeeName"]]

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [ ]:
sal["new_col"] = sal["BasePay"] + sal["OvertimePay"] +	sal["OtherPay"]

** What is the name of highest paid person (including benefits)?**

In [ ]:
sal["TotalPayBenefits"].idxmax()

0

In [ ]:
highest_paid = sal.iloc[sal["TotalPayBenefits"].idxmax()]
highest_paid.loc["EmployeeName"]

'NATHANIEL FORD'

In [ ]:
sal[sal["TotalPayBenefits"] == sal["TotalPayBenefits"].max()]["EmployeeName"]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
# testing
sal.drop(sal[sal["TotalPayBenefits"]<0].index, axis=0)
# if the total pay < 0

In [ ]:
lowest_paid = sal.iloc[sal["TotalPayBenefits"].idxmin()]
lowest_paid.loc["EmployeeName"]
# negative

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
new_col                                -618.13
Name: 148653, dtype: object

In [ ]:
sal["EmployeeName"][sal["TotalPayBenefits"].min() == sal["TotalPayBenefits"]].reset_index(drop=True)

0    Joe Lopez
Name: EmployeeName, dtype: object

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [ ]:
sal[(sal["Year"]>=2011) & (sal["Year"]<=2014)].groupby(["Year"])["BasePay"].mean()
                                              # Year as index

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [ ]:
import numpy as np

In [ ]:
# test = sal["Year"].unique()
# my_Years = pd.Series(dtype=np.float64)
# for y in test:
#   avg_of_year = sal[sal["Year"] == y]["BasePay"].mean()
#   my_Years.loc[y] = avg_of_year

In [ ]:
# my_Years.rename("mean of year")

2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: mean of year, dtype: float64

In [ ]:
# without condition
sal[["Year", "BasePay"]].groupby("Year").mean()

           BasePay
Year
2011  63595.956517
2012  65436.406857
2013  69630.030216
2014  66564.421924

In [ ]:
# out attemp
sal[["JobTitle", "BasePay"]].groupby("JobTitle").mean()

                                                     BasePay
JobTitle
ACCOUNT CLERK                                   43300.806506
ACCOUNTANT                                      46643.172000
ACCOUNTANT INTERN                               28732.663958
ACPO,JuvP, Juv Prob (SFERS)                     62290.780000
ACUPUNCTURIST                                   66374.400000
...                                                      ...
X-RAY LABORATORY AIDE                           47664.773077
X-Ray Laboratory Aide                           46086.387100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS  52609.910000
Youth Comm Advisor                              39077.957500
ZOO CURATOR                                     43148.000000

[2159 rows x 1 columns]

** How many unique job titles are there? **

In [ ]:
sal["JobTitle"].nunique()

2159

** What are the top 5 most common jobs? **

In [ ]:
sal["JobTitle"].value_counts().head()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [ ]:
mask = sal[sal["Year"] == 2013]["JobTitle"].value_counts()==1
mask.where(mask==True).dropna().shape[0]

202

In [ ]:
sum(sal[sal["Year"] == 2013]["JobTitle"].value_counts()==1)
# True as 1

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [ ]:
sal[sal["JobTitle"].str.contains("Chief", case=False, na=False)].shape[0]
# apply and lower

627

In [ ]:
sal["JobTitle"].apply(lambda j_t:"Chief".lower() in j_t.lower()).sum()

627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [ ]:
sal["len of job_t"] = sal["JobTitle"].apply(len)

In [ ]:
sal[["len of job_t", "TotalPayBenefits"]].corr() # no correlation
                                                # statical
# corr = 1 and almost, corr -> increase of two feature
# corr = -1 and almost, corr -> increase of one feature and another decrease
# corr = 0 and around it , no corr

                  len of job_t  TotalPayBenefits
len of job_t          1.000000         -0.036878
TotalPayBenefits     -0.036878          1.000000

In [ ]:
# explin of results : no correlation between total of salary and len of job_title

# Great Job!